node_modules
/node_modules
/coverage
/reports
/built
/tmp
.nyc_output/
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.chrome/
.generate_config.json
*.orig
.history/
.cache-loader/

package-lock.json


dist/