/node_modules
/coverage
/reports
/built
/tmp
.nyc_output/
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.chrome/
.generate_config.json
*.orig
.history/
.cache-loader/
.vscode

package-lock.json
.kiwi

export-en_US
export-zh_TW